@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Lobster&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 107 92% 95%;
    --foreground: 113 89% 7%;
    --card: 107 92% 95%;
    --card-foreground: 113 89% 7%;
    --popover: 107 92% 95%;
    --popover-foreground: 113 89% 7%;
    --primary: 112 100% 84%;
    --primary-foreground: 113 89% 7%;
    --secondary: 175 88% 68%;
    --secondary-foreground: 113 89% 7%;
    --muted: 107 92% 20%;
    --muted-foreground: 113 90% 70%;
    --accent: 192 89% 45%;
    --accent-foreground: 113 89% 7%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 113 89% 7%;
    --border: 107 92% 20%;
    --input: 107 92% 20%;
    --ring: 192 89% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 107 92% 5%;
    --foreground: 113 89% 93%;
    --card: 107 92% 5%;
    --card-foreground: 113 89% 93%;
    --popover: 107 92% 5%;
    --popover-foreground: 113 89% 93%;
    --primary: 112 100% 16%;
    --primary-foreground: 113 89% 93%;
    --secondary: 175 88% 32%;
    --secondary-foreground: 107 92% 5%;
    --muted: 107 92% 80%;
    --muted-foreground: 113 89% 93%;
    --accent: 192 89% 55%;
    --accent-foreground: 107 92% 5%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 113 88% 10%;
    --border: 107 92% 60%;
    --input: 107 92% 80%;
    --ring: 192 89% 60%;
  }
}
